.game-diff {
  height: 580px;
  background-color: rgb(199, 228, 255);
  margin: 10px 0;
  width: 38.5%;
  border-radius: 10px;
  position: absolute;
  top: 1692px;
}
.game-diff--css {
  display: flex;
  justify-content: space-between;
  margin: 5px, 0;
}
.game-diff-link {
  height: 250px;
  width: 23%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 5px 0;
  text-decoration: none;
  color: #000;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
}
.game-diff-link:hover {
  top: -5px;
  opacity: 0.8;
}

.game-diff__img {
  height: 60%;
  width: 128%;
}

.game-diff__name {
  font-size: 1rem;
  font-weight: 700;
  height: 15%;
  padding: 5px 0 0 5px;
  margin-bottom: 20px;
}

.game-diff__dev {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 5px 0 0 5px;
  height: 13%;
  margin-top: 20px;
}
