
  table {
    border-collapse: separate;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  th, td {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid rgb(102, 102, 102);
  }
  .table_content{
    border-collapse: separate;
    width: 70%;
    justify-content: center;
	align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .no_border{
    border-bottom: 0px solid #fff;
  }
.name {
    vertical-align: super;
    margin-right: 50px;
}
.tags {
  background-color: rgb(255, 167, 251);
	border: 2px solid rgb(133, 135, 255);
  vertical-align: super;
  margin-right: 10px;
  padding: 5px;
}
.imggg {
  background-color: rgb(153, 153, 153);
	border: 2px solid rgb(133, 135, 255);
  margin-right: 10px;
  padding: 5px;
}
.div1 {
  width: 400px;
  margin-top: 20px;
  background-color: whitesmoke;
  height: 230px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  justify-content: center;
	align-items: center;
	text-align: left;
}
.div_e {
  width: 250px;
  background-color: whitesmoke;
  height: 30px;
  padding: 5px;
  vertical-align: top;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  justify-content: center;
	align-items: center;
	text-align: left;
}
.div2 {
  width: 400px;
  margin-top: 20px;
  background-color: whitesmoke;
  height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  justify-content: center;
	align-items: center;
	text-align: left;
}
  
.titlee {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid rgb(102, 102, 102);
}