.game-cell-link:hover {
  border-style: solid;
}
.game-cell--css {
  display: flex;
  justify-content: space-between;
  margin: 5px, 0;
  position:absolute;

}
.game-cell-link {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 3px 0;
  text-decoration: none;
  color: #000;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
  padding: 2px;
}
.game-cell-link:hover {

  text-decoration: none;
  border-style: solid;
  
}

.game-cell__img {
  padding:10% 0 0 5% ;
  height: 50%;
  width: 90%;
}

.game-cell__name {
  font-size: 1.35rem;
  font-weight: 700;
  padding: 5px 0 0 5px;
  width: 120%;
}

.game-cell__rate {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 0 0 5px;
}
.game-cell__played {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 0 0 5px;
}

.game-cell:hover{
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%,transparent 50%);
  border-image-slice: 1;
  transition:  0.6s linear;
  width: 100%;
}
