.game-about{
    height: 250px;
    background-color: rgb(199, 228, 255);
    margin: 10px 0;
    border-radius: 10px;
    display: block;
    width: 60%;
}
.game-about__info{
    font-size: 1rem;
    margin-top: 15px;
    height: 128px;
}
.game-about__footer{
    font-size: 0.8rem;
    display: flex; 
    justify-content: space-between;
}